<h1> <b> Codificación Variables Categóricas </b> </h1>

<h3>  1.OneHotEncoder </h3>

Geography

In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder



data = pd.read_csv('Churn_Modelling.csv')
# Inicializamos el codificador One-Hot
encoder = OneHotEncoder()
# Ajustamos el codificador a los datos y transformamos la variable categórica
encoded_data = encoder.fit_transform(data[['Geography']]).toarray()
# Creamos un DataFrame con las columnas codificadas
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['Geography']))

# Concatenamos el DataFrame original con el DataFrame codificado
df_encoded = pd.concat([data, encoded_df], axis=1)

# Eliminamos la columna original de la variable categórica
df_encoded.drop(['Geography'], axis=1, inplace=True)

# Visualizamos el DataFrame con la codificación One-Hot
print("\nDataFrame con codificación One-Hot:")
print(df_encoded.head())

C:\Users\vedruna\AppData\Local\Temp\ipykernel_9592\3824837831.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

DataFrame con codificación One-Hot:
   RowNumber  CustomerId   Surname  CreditScore  Gender  Age  Tenure  \
0          1    15634602  Hargrave          619  Female   42       2
1          2    15647311      Hill          608  Female   41       1
2          3    15619304      Onio          502  Female   42       8
3          4    15701354      Boni          699  Female   39       1
4          5    15737888  Mitchell          850  Female   43       2

     Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  \
0       0.00              1          1               1        101348.88
1   83807.86              1          0               1        112542.58
2  159660.80              3          1               0        113931.57
3       0.00              2          0               0         93826.63
4  125510.82              1          1               1         79084.10

   Exited  Geography_France  Geography_Germany  Geography_Spain
0       1               1.0                0.0              0.0
1       0               0.0                0.0              1.0
2       1               1.0                0.0              0.0
3       0               1.0                0.0              0.0
4       0               0.0                0.0              1.0

Gender

In [3]:
# Inicializamos el codificador One-Hot
encoder = OneHotEncoder()
# Ajustamos el codificador a los datos y transformamos la variable categórica
encoded_data2 = encoder.fit_transform(df_encoded[['Gender']]).toarray()
# Creamos un DataFrame con las columnas codificadas
encoded_df2 = pd.DataFrame(encoded_data2, columns=encoder.get_feature_names_out(['Gender']))

# Concatenamos el DataFrame original con el DataFrame codificado
df_encoded2 = pd.concat([df_encoded, encoded_df2], axis=1)

# Eliminamos la columna original de la variable categórica
df_encoded2.drop(['Gender'], axis=1, inplace=True)

# Visualizamos el DataFrame con la codificación One-Hot
print("\nDataFrame con codificación One-Hot:")
print(df_encoded2.head())

DataFrame con codificación One-Hot:
   RowNumber  CustomerId   Surname  CreditScore  Age  Tenure    Balance  \
0          1    15634602  Hargrave          619   42       2       0.00
1          2    15647311      Hill          608   41       1   83807.86
2          3    15619304      Onio          502   42       8  159660.80
3          4    15701354      Boni          699   39       1       0.00
4          5    15737888  Mitchell          850   43       2  125510.82

   NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited  \
0              1          1               1        101348.88       1
1              1          0               1        112542.58       0
2              3          1               0        113931.57       1
3              2          0               0         93826.63       0
4              1          1               1         79084.10       0

   Geography_France  Geography_Germany  Geography_Spain  Gender_Female  \
0               1.0                0.0              0.0            1.0
1               0.0                0.0              1.0            1.0
2               1.0                0.0              0.0            1.0
3               1.0                0.0              0.0            1.0
4               0.0                0.0              1.0            1.0

   Gender_Male
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0

<h3> 2. Integer Encoding </h3>

Gender

In [4]:
data = pd.read_csv('Churn_Modelling.csv')

# Codificamos la variable categórica 'Color' en una sola columna numérica
data['Gender_Encoded'], _ = pd.factorize(data['Gender'])
data.drop(['Gender'], axis=1, inplace=True)
# Visualizamos el DataFrame con la codificación numérica
print("\nDataFrame con codificación numérica:")
print(data.head(5))

DataFrame con codificación numérica:
   RowNumber  CustomerId   Surname  CreditScore Geography  Age  Tenure  \
0          1    15634602  Hargrave          619    France   42       2
1          2    15647311      Hill          608     Spain   41       1
2          3    15619304      Onio          502    France   42       8
3          4    15701354      Boni          699    France   39       1
4          5    15737888  Mitchell          850     Spain   43       2

     Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  \
0       0.00              1          1               1        101348.88
1   83807.86              1          0               1        112542.58
2  159660.80              3          1               0        113931.57
3       0.00              2          0               0         93826.63
4  125510.82              1          1               1         79084.10

   Exited  Gender_Encoded
0       1               0
1       0               0
2       1               0
3       0               0
4       0               0

Geography

In [5]:
# Codificamos la variable categórica 'Color' en una sola columna numérica
data['Geography_Encoded'], _ = pd.factorize(data['Geography'])
data.drop(['Geography'], axis=1, inplace=True)
# Visualizamos el DataFrame con la codificación numérica
print("\nDataFrame con codificación numérica:")
print(data.head(5))

DataFrame con codificación numérica:
   RowNumber  CustomerId   Surname  CreditScore  Age  Tenure    Balance  \
0          1    15634602  Hargrave          619   42       2       0.00
1          2    15647311      Hill          608   41       1   83807.86
2          3    15619304      Onio          502   42       8  159660.80
3          4    15701354      Boni          699   39       1       0.00
4          5    15737888  Mitchell          850   43       2  125510.82

   NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited  \
0              1          1               1        101348.88       1
1              1          0               1        112542.58       0
2              3          1               0        113931.57       1
3              2          0               0         93826.63       0
4              1          1               1         79084.10       0

   Gender_Encoded  Geography_Encoded
0               0                  0
1               0                  1
2               0                  0
3               0                  0
4               0                  1

<h3> 3. Frequency Encoding </h3>

Gender

In [6]:
data = pd.read_csv('Churn_Modelling.csv')
# Calculamos la frecuencia de cada categoría en la columna 'Color'
frequency_map_gender = data['Gender'].value_counts(normalize=True)

# Mapeamos las frecuencias de las categorías en el DataFrame
data['Gender_Frequency_Encoded'] = data['Gender'].map(frequency_map_gender)
data.drop(['Gender'], axis=1, inplace=True)
# Visualizamos el DataFrame con la codificación de frecuencia
print("\nDataFrame con codificación de frecuencia:")
print(data.head(5))

DataFrame con codificación de frecuencia:
   RowNumber  CustomerId   Surname  CreditScore Geography  Age  Tenure  \
0          1    15634602  Hargrave          619    France   42       2
1          2    15647311      Hill          608     Spain   41       1
2          3    15619304      Onio          502    France   42       8
3          4    15701354      Boni          699    France   39       1
4          5    15737888  Mitchell          850     Spain   43       2

     Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  \
0       0.00              1          1               1        101348.88
1   83807.86              1          0               1        112542.58
2  159660.80              3          1               0        113931.57
3       0.00              2          0               0         93826.63
4  125510.82              1          1               1         79084.10

   Exited  Gender_Frequency_Encoded
0       1                    0.4543
1       0                    0.4543
2       1                    0.4543
3       0                    0.4543
4       0                    0.4543

Geography

In [7]:
# Calculamos la frecuencia de cada categoría en la columna 'Color'
frequency_map_gender = data['Geography'].value_counts(normalize=True)

# Mapeamos las frecuencias de las categorías en el DataFrame
data['Geography_Frequency_Encoded'] = data['Geography'].map(frequency_map_gender)
data.drop(['Geography'], axis=1, inplace=True)
# Visualizamos el DataFrame con la codificación de frecuencia
print("\nDataFrame con codificación de frecuencia:")
print(data.head(5))

DataFrame con codificación de frecuencia:
   RowNumber  CustomerId   Surname  CreditScore  Age  Tenure    Balance  \
0          1    15634602  Hargrave          619   42       2       0.00
1          2    15647311      Hill          608   41       1   83807.86
2          3    15619304      Onio          502   42       8  159660.80
3          4    15701354      Boni          699   39       1       0.00
4          5    15737888  Mitchell          850   43       2  125510.82

   NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited  \
0              1          1               1        101348.88       1
1              1          0               1        112542.58       0
2              3          1               0        113931.57       1
3              2          0               0         93826.63       0
4              1          1               1         79084.10       0

   Gender_Frequency_Encoded  Geography_Frequency_Encoded
0                    0.4543                       0.5014
1                    0.4543                       0.2477
2                    0.4543                       0.5014
3                    0.4543                       0.5014
4                    0.4543                       0.2477

<h3> 4. Target Encoding </h3>

Gender

In [8]:
data = pd.read_csv('Churn_Modelling.csv')

# Calculamos la media del valor objetivo (target) para cada categoría en la columna 'Color'
target_means = data.groupby('Gender')['Age'].mean()

# Mapeamos las medias de los valores objetivo correspondientes a las categorías en el DataFrame
data['Gender_Target_Encoded_with_Age'] = data['Gender'].map(target_means)

# Visualizamos el DataFrame con el Target Encoding
print("\nDataFrame con Target Encoding:")
print(data.head(5))

DataFrame con Target Encoding:
   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   EstimatedSalary  Exited  Gender_Target_Encoded_with_Age
0        101348.88       1                       39.238389
1        112542.58       0                       39.238389
2        113931.57       1                       39.238389
3         93826.63       0                       39.238389
4         79084.10       0                       39.238389

Geography

In [9]:
# Calculamos la media del valor objetivo (target) para cada categoría en la columna 'Color'
target_means = data.groupby('Geography')['Age'].mean()

# Mapeamos las medias de los valores objetivo correspondientes a las categorías en el DataFrame
data['Geography_Target_Encoded_with_Age'] = data['Geography'].map(target_means)

# Visualizamos el DataFrame con el Target Encoding
print("\nDataFrame con Target Encoding:")
print(data.head(5))

DataFrame con Target Encoding:
   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   EstimatedSalary  Exited  Gender_Target_Encoded_with_Age  \
0        101348.88       1                       39.238389
1        112542.58       0                       39.238389
2        113931.57       1                       39.238389
3         93826.63       0                       39.238389
4         79084.10       0                       39.238389

   Geography_Target_Encoded_with_Age
0                          38.511767
1                          38.890997
2                          38.511767
3                          38.511767
4                          38.890997

<h2> 5. Label Encoding </h2>

Gender

In [10]:
from sklearn.preprocessing import LabelEncoder
data = pd.read_csv('Churn_Modelling.csv')

# Inicializamos el codificador de etiquetas
label_encoder = LabelEncoder()

# Aplicamos la codificación de etiquetas a la columna 'Color'
data['Gender_Encoded'] = label_encoder.fit_transform(data['Gender'])

# Visualizamos el DataFrame con la codificación de etiquetas
print("\nDataFrame con codificación de etiquetas:")
print(data.head(5))

DataFrame con codificación de etiquetas:
   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   EstimatedSalary  Exited  Gender_Encoded
0        101348.88       1               0
1        112542.58       0               0
2        113931.57       1               0
3         93826.63       0               0
4         79084.10       0               0

Geography

In [11]:
# Aplicamos la codificación de etiquetas a la columna 'Color'
data['Geography_Encoded'] = label_encoder.fit_transform(data['Geography'])

# Visualizamos el DataFrame con la codificación de etiquetas
print("\nDataFrame con codificación de etiquetas:")
print(data.head(5))

DataFrame con codificación de etiquetas:
   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   EstimatedSalary  Exited  Gender_Encoded  Geography_Encoded
0        101348.88       1               0                  0
1        112542.58       0               0                  2
2        113931.57       1               0                  0
3         93826.63       0               0                  0
4         79084.10       0               0                  2